/actual/**
/build/**
/conf/**
/coverage/**
/docs/**
/fixtures/**
/jsdoc/**
./node_modules/asn1.js
/templates/**
/tests/actual/**
/tests/templates/**
/tests/bench/**
/tests/fixtures/**
/tests/performance/**
/tmp/**
